.navbar-right(ng-controller="mvNavBarLoginCtrl")
    form.navbar-form
        .form-group
            input.form-control(placeholder="Email", mg-model="username")
        .form-group
            input.form-control(placeholder="Password", type="password", mg-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In