.container
    .div Month = {{month}}
    .div Year = {{year}}
    h1 transactionsRollupByCategory
    .div {{transactionsRollupByCategory}}
    h1 transactionsRollupByMerchant        
    .div {{transactionsRollupByMerchant}}
    h1 transactionsRollupByCategoryYear        
    .div {{transactionsRollupByCategoryYear}}
    h1 transactionsRollupByMerchantYear        
    .div {{transactionsRollupByMerchantYear}}
    h1 transactionsRollupByCategoryYearMonth        
    .div {{transactionsRollupByCategoryYearMonth}}
    h1 transactionsRollupByMerchantYearMonth        
    .div {{transactionsRollupByMerchantYearMonth}}

    
    