.container
    .button(ng-click="getDataAndConfirm()") getDataAndConfirm
    div Month = {{month}}
    div Year = {{year}}
    div(id="chart123")
    div(id="piechart123")
    .button(ng-click="showPieChart()") Refresh Pie Chart
    div(id="donutchart123")
    .button(ng-click="showChart()") Show Chart
    h1 transactionsRollupByCategory
    .container {{transactionsRollupByCategory}}
    h1 transactionsRollupByMerchant        
    .container {{transactionsRollupByMerchant}}
    h1 transactionsRollupByCategoryYear        
    .container {{transactionsRollupByCategoryYear}}
    h1 transactionsRollupByMerchantYear        
    .container {{transactionsRollupByMerchantYear}}
    h1 transactionsRollupByCategoryYearMonth        
    .container {{transactionsRollupByCategoryYearMonth}}
    h1 transactionsRollupByMerchantYearMonth        
    .container {{transactionsRollupByMerchantYearMonth}}

    
    