.container-fluid.top-padding-med
    .row
        .col-md-4
            .row
                .col-md-12
                    .btn-group.margin-left-med(data-toggle="buttons")
                        label.btn.btn-info.active(ng-click="updateCharts('category')") By Categories
                            input(type="radio")
                        label.btn.btn-info(ng-click="updateCharts('merchant')") By Top Stores
                            input(type="radio")            
                    .btn-group.margin-left-med(data-toggle="buttons")
                        label.btn.btn-info.active(ng-click="updateChartsForYear(0)") All
                            input(type="radio")                
                        label.btn.btn-info(ng-click="updateChartsForYear(2013)") 2013
                            input(type="radio")                
                        label.btn.btn-info(ng-click="updateChartsForYear(2014)") 2014
                            input(type="radio")
                        label.btn.btn-info(ng-click="updateChartsForYear(2015)") 2015
                            input(type="radio")
            .row                                
                .col-md-12
                    div(id="donutchart123")
            .row                                
                .col-md-12
                    div(id="piechart123")
        .col-md-8
            .row
                .col-md-12
                    #viz