.container.top-padding-med.bottom-padding-med
    div
    div.angular_graph(ng-controller="mvAnalysisGraphCtrl")
      div.angular_x {{xAxis}}
      div.angular_y {{yAxis}}
      div.dot(ng-repeat="point in points" style="bottom:calc({{point.xValue}}/{{maxX}}*100% - 15px); left:calc({{point.yValue}}/{{maxY}}*100% - 15px);" data-title="{{point.label}}: {{point.xValue}}, {{point.yValue}}")

    linear-chart(chart-data="salesData")

    d3-bars(data="data" bar-height="20" bar-padding="5")

    bars(data="A:40,B:4,C:55,D:15")
    bars(data="January:68.2517677589508,Feburary:13.881504148369178,March:14.80183770852793,April:3.064890384152088")

    div(id='viz')
    script(type="text/javascript").
      d3.select("#viz")
        .append("svg")
          .attr('width', 600)
          .attr('height', 300)
          .append('circle')
            .attr('cx', 300)
            .attr('cy', 150)
            .attr('r', 30)
            .attr('fill', '#26963c')
    chart2
    br    
    h3 Drag data points to re-render chart
    chart3
    br
    sunburst
      div(id="sunburst_main")
        h3 Sunburst
        div(id="sunburst_sequence")
        div(id="sunburst_chart")
          div(id="sunburst_explanation", style="visibility: hidden;")
            span(id="sunburst_percentage")
            br
            span of visits begin with this sequence of pages
      div(id="sunburst_sidebar")
        input(type="checkbox", id="togglelegend")
        span Legend
        div(id="sunburst_legend", style="visibility: hidden;")