extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") My Money Buddy
                    h6 where is my money going
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/courses") Courses
                    li.dropdown        
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            | Analyze
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/analyze") Analyze 1
                            li
                                a(href="/analyze2") Analyze 2
                            li
                                a(href="/analyze3") Analyze 3
                            li
                                a(href="/graph1") Graph 1
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 My Money Buddy Corp.