body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-body-padding {
  padding-top: 69px;
}
.top-padding-med {
  padding-top: 10px;
}
.bottom-padding-med {
  padding-bottom: 10px;
}
.margin-left-med {
  padding-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.toast-error {
  background-color: #bd362f;
}
.chart {
  background: #eee;
  padding: 3px;
}
.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.chart div {
  font: 10px sans-serif;
  background-color: #4682b4;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: #fff;
  box-shadow: 2px 2px 2px #666;
}
.buttonx {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 20px 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: #000 0 1px 0;
  -moz-box-shadow: #000 0 1px 0;
  box-shadow: #000 0 1px 0;
  text-shadow: rgba(0,0,0,0.4) 0 1px 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  vertical-align: middle;
  width: 200px;
  height: 200px;
}
.buttonx:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.buttonx:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
.chart3_datapoint {
  cursor: pointer;
  stroke: #111;
  fill: rgba(0,150,255,0.75);
  stroke-width: 7;
}
.chart3_lineChart {
  fill: none;
  stroke-width: 3;
  stroke: rgba(100,100,100,0.4);
}
#sunburst_main {
  float: left;
  width: 750px;
}
#sunburst_sidebar {
  float: right;
  width: 100px;
}
#sunburst_sequence {
  width: 600px;
  height: 70px;
}
#sunburst_legend {
  padding: 10px 0 0 3px;
}
#sunburst_sequence text,
#sunburst_legend text {
  font-weight: 600;
  fill: #fff;
}
#sunburst_chart {
  position: relative;
}
#sunburst_chart path {
  stroke: #fff;
}
#sunburst_explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}
#sunburst_percentage {
  font-size: 2.5em;
}
.angular_graph {
  position: relative;
  margin: 50px auto;
  width: 40%;
  height: 250px;
  background: #d9f2e6;
}
.angular_x {
  font-weight: bold;
  border-bottom: 1px solid #71cbd0;
  position: absolute;
  width: 250px;
  text-align: center;
  padding: 10px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  color: #d07371;
}
.angular_y {
  font-weight: bold;
  border-top: 1px solid #71cbd0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  top: 100%;
  color: #d07371;
}
.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  background: #71cbd0;
  cursor: pointer;
  animation: dots 1.5s ease;
}
.dot:after {
  content: attr(data-title);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  background: #d07371;
  color: #fff;
  position: absolute;
  padding: 10px;
  left: 150%;
  top: -15px;
  width: 0;
  opacity: 0;
  border-radius: 3px;
}
.dot:hover {
  background: #d07371;
}
.dot:hover:after {
  width: auto;
  opacity: 1;
  z-index: 9999;
}
/*#viz {
  height:100%;
  margin-right: 292px;
}
*/
circle {
  fill: #1b8bcd;
  stroke: #2c2c2c;
  stroke-width: 2px;
  opacity: 0.7;
}
circle.highlight {
  stroke: #fff;
}
div[class^='agency']:hover {
  cursor: pointer;
}
