.container
    .jumbotron
        h1 My Money Buddy
        p Welcome to the My Money Buddy. Manage your money, and track where and how you are spending it...

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")